@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
	color-scheme: dark;
	--back: light-dark(#292929, #f0f0f0);
	--header-back: light-dark(#f0f0f0, #292929);
	--switch-back: light-dark(#c5c5c5, #5b5b5b);
	--switch-ball: light-dark(#f0f0f0, #272525);
	--text: light-dark(#000000, #ffffff);
	--text-dim: light-dark(#595959,#a5a5a5);
	--option-back: light-dark(#868686,#dcdcdc);
	--main-col:light-dark(#ffffff,#000000);
	--blue: #0ea5e9;
	--blue-dim: #0ea5e9ed;
	--progress-bar: light-dark(#8f8f8f,#f0f0f0);
	--transparent: light-dark(#ffffff80,#00000080);
	--shading-background: light-dark(#cbcbcb94,#44444485);
	--feedback:light-dark(#ffffff,#080808);
	--footer:light-dark(#c3c3c3,#292929);
	--block-base: light-dark(#adadac,#2f4553);
	--block-hover: light-dark(#c1c1c1,#557086);
	--shading-background: light-dark(#65656559,#44444485);
	--button-border: light-dark(#212121,#959292);
	--light-black:  light-dark(#f0f0f0,#0c0c0c);
	--choose-active: light-dark(#9b9a9a,#575757);
	--choose: light-dark(#c0c0c0,#292929);
}

html{
	scroll-behavior: smooth;
	background-color: var(--main-col);
}

.app{
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}



.gameinfo {
	display: grid;
	grid-template-columns: 46vw 46vw;
	grid-template-rows: 30px 30px;
	justify-content: space-between;
	border: 2px solid var(--text);
	border-radius: 10px;
	width: 90%;
	margin: 20px auto 0;
	gap: 5px;
	align-items: center;

}

.gameinfo p {
	color: var(--font-color)
}

.gameinfo .gameid, .gameinfo .timer {
	margin-left: 25px;
}

.gamearea {
	margin-top: 30px;
	position: relative;
}

.blocks {
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(4, calc(100vw/4 - 6vw));
	grid-template-rows: repeat(4, calc(100vw/4 - 12px));
}

.blocks .block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: var(--block-base);
}

.blocks .block:hover {
	background-color: var(--block-hover);
	scale: 1.05;
}

.shading {
	height: 100vw;
	width: 89vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--shading-background);
	gap: 20px;
}

.shading p {
	color: var(--text);
	font-size: 25px;
	background-color: var(--blue);
	padding: 10px;
	border-radius: 10px;
}

.shading button {
	cursor: pointer;
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: var(--blue);
	color: var(--text);
}

.shading button:hover {
	scale: 1.05;
	background-color: var(--blue-dim);
}

.options {
	margin-top: 40px;
}

.options p {
	text-align: center;
	color: var(--text)
}

.options .buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}


.options .buttons button {
	background-color: var(--block-base);
	min-width: 10vw;
	outline: none;
	padding: 10px;
	border: 1px solid var(--button-border);
	color: var(--text);
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
}

.activeoption {
	background-color: var(--light-black) !important;
	scale: 1.2;
}



.fail .bomb, .success .diamond, .success .twinkle {
	display: block !important;
	width: calc(100vw/4 - 10vw);
	height: calc(100vw/4 - 30px);
	animation: fade 0.5s linear;
}

.success .diamond {
	height: calc(100vw/4 - 50px);
	width: calc(100vw/4 - 12vw);
}

.success .twinkle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: calc(100vw/4 - 50px);
	width: calc(100vw/4 - 12vw);
	width: 100%;
	animation: fade 0.5s linear;
}

@keyframes fade {
	0% {
		opacity: 0;
		scale: 0.5;
	}

	30% {
		scale: 1;
	}

	100% {
		opacity: 1;

	}
}

.reset {
	margin: 30px 0;
	padding: 10px;
	border-radius: 10px;
	color: var(--text);
	background-color: var(--blue);
	border: none;
	cursor: pointer;

}

.reset:hover{
	background-color: var(--blue-dim);
	scale: 1.03;
}

.resetdiv {
	text-align: center;
}

.warningcard {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--shading-background);
}

.warning {
	background-color: var(--switch-ball);
	height: fit-content;
	padding: 20px;
	width: fit-content;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.warning h3 {
	margin: 10px 0 10px 0;
	text-align: center;
}

.warning p {
	min-width: 60vw;
	text-align: center;
}

.warning .btn {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.btn button {
	background-color: var(--blue);
	color: var(--text);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	width: 17vw;
	text-align: center;
	cursor: pointer;
}

.btn button:hover{
	background-color: var(--blue-dim);
	scale:1.02;
}

.stars {
	display: flex;
	gap: 10px;
	justify-content: center;
	cursor: pointer;
}

.stars .s2, .hidden, .blocks .block img {
	display: none;
}


@media screen and (min-width:800px) and (max-width:1100px) {
	.shading button {
		width: 35vw;
		font-size: 1.3rem;
	}

	.block .diamond {
		width: 10vw;
		height: 15vw;
	}

	.block .twinkle {
		width: 10vw;
		height: 15vw;
	}
}

@media screen and (min-width:1101px) {
	.maingame {
		display: flex;
		flex-direction: row;
		gap: 0.02vw;
		margin-top: 20px;
	}

	.gameinfo {
		margin: 7vw auto 0;
		width: 40%;
		grid-template-columns: 20vw 19vw;
		gap: 0px;
		grid-template-rows: 60px 60px;
		height: fit-content;
		justify-content: center;
	}

	.gameinfo .gameid, .gameinfo .maxscore, .gameinfo .timer, .gameinfo .currentscore {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		font-size: 1.2rem;
	}

	.gameinfo .gameid {

		border-right: 1px solid var(--text);
		border-bottom: 1px solid var(--text);
		margin-left: 0;
		padding: 0 25px;
	}

	.gameinfo .maxscore {
		margin-left: 0;
		border-bottom: 1px solid var(--text);
		border-left: 1px solid var(--text);

	}

	.gameinfo .timer {
		border-top: 1px solid var(--text);
		border-right: 1px solid var(--text);
		margin-left: 0;
	}

	.gameinfo .currentscore {
		border-top: 1px solid var(--text);
		border-left: 1px solid var(--text);
	}


	.gamearea {
		width: 55%
	}

	.blocks {
		grid-template-columns: repeat(4, 8vw);
		grid-template-rows: repeat(4, 8vw);
	}

	.blocks .block {
		cursor: pointer;
	}

	.shading {
		height: 35vw;
		width: 35vw;
	}

	.options {
		position: absolute;
		top: 24vw;
		width: 40%;
		left: 20px;
	}

	.options p {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	.options .buttons button {
		min-width: 6vw;
	}

	.shading button {
		cursor: pointer;
		height: 6vw;
		width: 15vw;
		font-size: 1.3rem;
	}

	.shading button:hover {
		scale: 1.1;
	}

	.success .diamond, .fail .bomb, .success .twinkle {
		height: 80px;
		width: 80px;
	}

	.reset {
		padding: 10px 20px;
		border-radius: 10px;
		color: var(--text);
		background-color: var(--blue);
		border: none;
		cursor: pointer;
		font-size: 1.1rem;
	}

	.resetdiv {
		position: relative;
		bottom: 10vw;
		width: 42%;
		text-align: center;
	}

	.warning p {
		min-width: 30vw;
	}

	.warning .btn button {
		width: 10vw;
		cursor: pointer;
	}

	.warning .btn button:hover {
		scale: 1.1;
	}

}

.choose{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}
.choose p{
	text-align: center;
	width: 45%;
	font-size: 1.2rem;
	background-color: var(--footer);
	padding: 4px 0;
	border-radius: 10px;
	cursor: pointer;
}

.choose .cactive{
	background-color: var(--choose-active);
	scale:1.01;
}

.statistics{
	display: flex;
	flex-direction: row;
	height: 75dvh;
	align-items: center;
	justify-content: center;	
}

.statistics .left{
	display: flex;
	flex-direction: column;
	width: 47%;
	height: 50%;
	align-items: center;
	justify-content: center;
	gap:40px;
}

.statistics .left .info{
	display: grid;
	grid-template-columns: 21vw 21vw;
	grid-template-rows: 40px 40px;
	justify-content: center;
	border: 2px solid var(--text);
	border-radius: 10px;
	width: 90%;
	margin: 0 0 0 10px;
	align-items: center;
}

.info div{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.total, .info .maxscore{
	border-bottom: 1px solid var(--text);
}

.minscore, .average{
	border-top: 1px solid var(--text);
}

.average, .info .maxscore{
	border-left: 1px solid var(--text);
}

.total, .minscore{
	border-right: 1px solid var(--text);
}

.statistics .left button{
	padding: 10px;
	border-radius: 10px;
	color: var(--text);
	background-color: var(--blue);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
}

.statistics .left button:hover {
	scale: 1.02;
	background-color: var(--blue-dim);
}

.chart{
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
	gap:10px;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.chart p{
	margin-left:10px;
}

.playgame p{
	text-align: center;
	width: 80%;
	font-weight: bold;
	font-size: 1.2rem;
}

.playgame{
	height: 75dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:1000px){
	.statistics{
		margin-top: 40px;
		flex-direction: column;
		gap:30px;
		height:80%;
		padding-bottom: 100px;
		position: relative;
	}

	.statistics .left{
		width: 100%;
		height: fit-content;
	}
	.statistics .left .info{
		width: 90%;
		grid-template-columns: 50% 50%;
	}

	.info div{
		font-size: 0.8rem;
	}

	.resetstats{
		position: absolute;
		top:85%;
	}

	.chart{
		width: 100%;
		height: 300px;
	}
}

.mainfeedback{
	display: none;
}

.feedbackdiv, .thankyoudiv {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: var(--shading-background);
}

.feedback, .thankyou {
	background-color: var(--feedback);
	height: fit-content;
	padding: 20px;
	width: fit-content;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px
}

.thankyoudiv, .stars .s2, .feedbackdiv {
	display: none;
}

.s2{
    fill: var(--text);
}

.thankyou p {
	min-width: 40vw;
	text-align: center;
}

.feedback p {
	min-width: 50vw;
	text-align: center;
}

textarea {
	outline: none;
	border-radius: 10px;
	border: 2px solid black;
	padding: 10px;
}

.stars {
	display: flex;
	gap: 10px;
	justify-content: center;
	cursor: pointer;
    height: 30px;
}

.feedback button, .thankyou button {
	background-color: var(--blue);
	color: var(--font-color);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
}

.feedback button:hover, .thankyou button:hover {
	scale: 1.03;
}

.give {
	color: red;
	display: none;
}

@media screen and (min-width:1101px) {

    .feedback p {
        min-width: 30vw;
    }

    .thankyou p {
        min-width: 15vw;
        text-align: center;
    }

    .feedback textarea {
        width: 25vw;
    }
}

.footer{
    background-color: var(--footer);
    width: 100%;    
    text-align: center;
    padding: 2px 0;
}

.footer p{
    color: var(--text);
    font-size: 0.9rem;
}

.footer p a{
    text-decoration: none;
    color: var(--text-dim);
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--header-back);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--switch-back);
}

.mainnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.mainlogo a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 700;
}

.mainlogo, .mainnav, .switchtheme{
    display: flex;
    align-items: center;
}
.menu, .close, .transparent{
    display: none;
}
.mainnav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.mainnav ul li a {
    text-decoration: none;
    color: var(--text);
}

.mainnav ul li a.activea, .mainnav ul li a:hover, .mainnav ul li a:hover .mainnav ul li a{
    border-bottom: 2px solid var(--text-dim);
    color:var(--text-dim)
}

@media screen and (max-width:600px){
    .menu{
        display: block;
    }
    .mainnav{
        display: none;
        padding: 70px 0;
        position: absolute;
        top:0;
        left:0;
        background-color: var(--main-col);
        width: min(200px, 70%);
        z-index: 10;
        animation: slidein linear 0.3s;
        height: 100%;
    }
    header .closenav{
        animation: slideout linear 0.3s;
    }
    @keyframes slidein {
        0%{
            left:-100%;

        }
        100%{
            left:0;
        }
    }
    @keyframes slideout {
        0%{
            left:0;
        }
        100%{
            left:-100%;

        }
    }
    .mainnav ul{
        flex-direction: column;
        gap:0;
        height: 100%;
        
    }
    .mainnav ul li{
        padding: 4px 0;
        font-size: 1.15rem;

    }
    header svg{
        display: block;
        z-index: 11;
    }
    .close{
        display: none;
    }
    .mainnav ul li a{
        display: block;
        width: 100%;
        padding: 12px 35px;
    }
    .mainnav ul li a.activea{
        border-bottom: none;
        background-color: var(--header-back);
    }
    .mainnav ul li a:hover{
        border-bottom: none;
    }
    .transparent{
        content: "";
        height: 100dvh;
        width: 100vw;
        position: absolute;
        top:0;
        left:0;
        background-color: var(--transparent);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 2;
        animation: slidein linear 0.15s;
    }
}

.switchthemeback {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 30px;
    width: 60px;
    background-color: var(--switch-back);
    border-radius: 20px;
}

.switchthemeback::after {
    content: "";
    animation: moveleft 0.2s linear;
    display: block;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 26px;
    width: 30px;
    border-radius: 20px;
    background-color: var(--switch-ball);
    overflow: hidden;
    cursor: pointer;
}

.dark .switchthemeback::after {
    right: 1px;
    left: auto;
    animation: moveright 0.2s linear;

}

.dark .lighticon {
    visibility: hidden;
}

.switchtheme {
    cursor: pointer;
    position: relative;
}

.lighticon {
    height: 20px;
    z-index: 1;
    margin-left: 2px;
}

.darkicon {
    height: 20px;
    visibility: hidden;
    z-index: 1;
}

.dark .darkicon {
    visibility: visible;
    animation: fadein 0.2s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveleft {
    0% {
        left: 29px;
    }

    100% {
        left: 1px;
    }
}

@keyframes moveright {
    0% {
        left: 1px;
    }

    100% {
        left: 29px;
    }
}