@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	user-select: none;
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}


@media screen and (max-width:800px) {
	:root {
		--base-background: #202c3c;
		--font-color: #f1f1f1;
	}

	body {
		background-color: var(--base-background);
	}

	.header {
		margin-top: 20px;
	}

	.header h1 {
		text-align: center;
	}

	.header h1 a {
		text-decoration: none;
		padding: 5px 10px;
		color: var(--font-color);
	}

	.gameinfo {
		display: flex;
		justify-content: space-between;
		border: 2px solid white;
		border-radius: 10px;
		width: 90%;
		margin: 20px auto 0;

	}

	.gameinfo p {
		color: var(--font-color)
	}

	.gameinfo .gameid {
		margin-left: 25px;
	}

	.gameinfo .timer {
		margin-right: 25px;
	}
}