@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	user-select: none;
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}


@media screen and (max-width:800px) {
	:root {
		--base-background: #202c3c;
		--font-color: #f1f1f1;
		--font-light-color: #b5b0b0;
		--block-base: #2f4553;
		--block-hover: #557086;
		--shading-background: #44444485;
		--button-background: #0f202f;
		--button-border: #959292;
		--footer-background: #444444;
	}

	body {
		background-color: var(--base-background);
	}

	.header {
		margin-top: 20px;
	}

	.header h1 {
		text-align: center;
	}

	.header h1 a {
		text-decoration: none;
		padding: 5px 10px;
		color: var(--font-color);
	}

	.gameinfo {
		display: flex;
		justify-content: space-between;
		border: 2px solid white;
		border-radius: 10px;
		width: 90%;
		margin: 20px auto 0;

	}

	.gameinfo p {
		color: var(--font-color)
	}

	.gameinfo .gameid {
		margin-left: 25px;
	}

	.gameinfo .timer {
		margin-right: 25px;
	}

	.gamearea {
		margin-top: 30px;
		position: relative;
	}

	.blocks {

		display: grid;
		justify-content: center;
		gap: 10px;
		grid-template-columns: repeat(4, calc(100vw/4 - 6vw));
		grid-template-rows: repeat(4, calc(100vw/4 - 12px));
	}

	.blocks .block {
		border-radius: 10px;
		background-color: var(--block-base);
	}

	.blocks .block:hover {
		background-color: var(--block-hover);
		scale: 1.05;
	}

	.shading {
		height: 100vw;
		width: 89vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--shading-background);
	}

	.shading button {
		padding: 15px;
		font-size: 15px;
		border-radius: 10px;
		outline: none;
		border: none;
		background-color: var(--button-background);
		color: var(--font-color);
	}

	.shading button:hover {
		scale: 1.05;
		background-color: var(--block-base);
	}

	.options {
		margin-top: 40px;
	}

	.options p {
		text-align: center;
		color: var(--font-color)
	}

	.options .buttons {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}


	.options .buttons button {
		background-color: var(--block-base);
		min-width: 10vw;
		outline: none;
		padding: 10px;
		border: 1px solid var(--button-border);
		color: var(--font-color);
		border-radius: 10px;
		font-size: 15px;
	}

	.active {
		background-color: #0c0c0c !important;
	}

	.footer {
		margin-top: 20px;
		background-color: var(--footer-background);
		position: fixed;
		bottom: 0;
		width: 100vw;
	}

	.footer p {
		color: var(--font-color);
		text-align: center;
	}

	.footer p a {
		color: var(--font-light-color);
		text-decoration: none;
	}
}